body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    background-color: #f4f4f4;  
}

main  {
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    justify-content: center;
    display: flex;  
    position: relative;
    flex-direction: column;
}

.header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin: 13px;
}

.header input {
    width: 140px;
    align-self: center;
    height: 25px;
    width: 200px;
    margin-left: 45px;
    font-size: 0.9rem;
    padding: 2px;
    border-radius: 3px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

.header button {
    padding: 2px;
    width: 45px;
    height: 30px;
    font-size: 0.8rem;
    border-radius: 3px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

.task_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    margin-left: 10000px;
}

.task_item { 
    list-style: none;
    margin-right: 146px;;
}

#Done {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    list-style: none;

}

#Not_Done { 
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    list-style: none;
}

#Done :active {
    visibility: visible;
}